/.metadata
.sonarlint
.setting
.settings
bin
build
*.DS_Store
/validator/hibernate-validator-5.2.4.Final
hibernate-release-5.4.2.Final
hibernate-sql-scripts-and-starter-files
mysql-connector-java-8.0.16